@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.active-link {
  font-weight: bold; 
  text-decoration: underline;
  color: #5bb4e6;
}
.active-link2{
  font-weight: bold; 
  text-decoration: underline;
  color: black;
}

.text-gradient {
  background: linear-gradient(to right, #5bb4e6, #06b6d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

